@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  width: 600px;
}

.dashboard-text {
  width: 1200px;
}

.pedido-grid {
  grid-column: 1 /2;
  grid-row: 1/2;
}
html {
  scroll-behavior: smooth;
}
